.le-support-modal .modal-dialog {
	max-width: 600px;
	font-family: 'PT Sans', sans-serif;
	color: #333;
}

.le-support-modal .modal-dialog .modal-body h4 {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.le-support-modal .modal-dialog .modal-body div {
	font-size: 14px;
	margin: 0 0 10px;
}

.le-support-modal .modal-dialog .modal-footer {
	text-align: left;
	font-size: 14px;
}

.le-support-modal .modal-dialog .modal-footer div a {
	color: #428BCA;
}

.modal-footer a
{display:inline;}

.modal-footer a .left
{float:left}

.modal-footer a.right
{float:right} 